<!DOCTYPE html>
<!-- saved from url=(0054)http://twitter.github.io/bootstrap/examples/fluid.html -->
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>WLCSC Intranet - Student and Staff Resources</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link href="<%= url 'css/bootstrap.css' %>" rel="stylesheet">
		<link href="<%= url 'css/bootstrap-responsive.css' %>" rel="stylesheet">
		<link href="<%= url 'css/overrides.css' %>" rel="stylesheet">
        <link rel="stylesheet" href="<%= url 'css/font-awesome.min.css' %>">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="<%= url '../assets/js/html5shiv.js' %>"></script>
			<![endif]-->

		<!-- Fav and touch icons -->
		<!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png" /> -->
		<!-- <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png" /> -->
		<!-- <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png" /> -->
		<!-- <link rel="apple-touch-icon-precomposed" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png" /> -->
		<!-- <link rel="shortcut icon" href="http://twitter.github.io/bootstrap/assets/ico/favicon.png" /> -->
	</head>

	<body data-spy="scroll" data-target=".nav-scrollspy">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="#">
						<img src="<%= url 'img/icon.png' %>" /> Intranet
					</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="dropdown">
								<a href="#" class="dropdown=toggle" data-toggle="dropdown">
									Web Apps
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="http://citrix/Citrix/MetaFrame/auth/login.aspx">Citrix</a></li>
									<li><a href="http://moodle.wl.k12.in.us/">Moodle</a></li>
									<li><a href="http://www.webassign.net/">WebAssign</a></li>
									<li><a href="https://apps.wl.k12.in.us/senate">Senate</a></li>
									<li><a href="https://apps.wl.k12.in.us/wepict">WePict</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown=toggle" data-toggle="dropdown">
									Documents
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="http://tlt.its.psu.edu/suggestions/international/accents/codealt.html">Accents and Symbols</a></li>
									<li><a href="http://elock.wl.k12.in.us/documents/Special%20Characters.pdf">Accents PDF</a></li>
									<li><a href="http://elock.wl.k12.in.us/documents/U3%20and%20SmartDrive%20Removal.pdf">U3 Smart Drive Info</a></li>
									<li><a href="http://learnoas.ctb.com/ISTEP/">ISTEP Practice Test</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown=toggle" data-toggle="dropdown">
									Cumberland
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="http://ces.wl.k12.in.us/classrooms/class-web-pages">Classrooms</a></li>
									<li><a href="http://ces.wl.k12.in.us/info/food-services">Lunch Menu</a></li>
									<li><a href="https://harmony.wl.k12.in.us/ceelementary.nsf/weblogin">Harmony</a></li>
									<li><a href="http://wlcsc-destiny/common/welcome.jsp?site=100">Library Card Catalog</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown=toggle" data-toggle="dropdown">
									Happy Hollow
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="http://hh.wl.k12.in.us/classrooms/class-web-pages">Classrooms</a></li>
									<li><a href="http://hh.wl.k12.in.us/classrooms/media-center">Media Center</a></li>
									<li><a href="https://harmony.wl.k12.in.us/HHelementary.nsf/weblogin">Harmony</a></li>
									<li><a href="http://wlcsc-destiny/common/welcome.jsp?site=101">Library Card Catalog</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown=toggle" data-toggle="dropdown">
									Jr/Sr High
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="http://hs.wl.k12.in.us/info/document-library/cat_view/68-announcements">Announcements</a></li>
									<li><a href="http://hs.wl.k12.in.us/info/document-library/doc_download/32-jrsr-high-school-code-of-conduct">Handbook</a></li>
									<li><a href="https://harmony.wl.k12.in.us/">Harmony</a></li>
									<li><a href="http://wlcsc-destiny/common/welcome.jsp?site=102">Library Card Catalog</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown=toggle" data-toggle="dropdown">
									Faculty & Staff
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="http://apps.wl.k12.in.us/firefight/">Firefight</a></li>
									<li><a href="http://reddev/wlworkOrder/maint/workorders/WO_Add.asp?WorkOrderTypeID=2">Building Work Orders</a></li>
									<li><a href="https://mail/exchange/">Web Mail</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span9Sometimes span-fixed-sidebar">
					<section id="notes">
						<div class="well">
							<p class="text-error">Oh no, something went wrong!</p>
						</div>
					</section>
					<section id="reference_material">
						<div class="well">
							<p class="text-error">Oh no, something went wrong!</p>
						</div>
					</section>
				</div>
				<div id="sidebar" class="span3 sidebar-width">
					<div class="span3 sidebar-width">
						<div class="well sidebar-nav sidebar-nav-fixed">
							<div class="nav-scrollspy">
								<ul class="nav nav-list">
									<li class="nav-header">Sections</li>
									<li><a href="#notes">Notes</a></li>
									<li><a href="#reference-material">Reference Material</a></li>
								</ul>
							</div>
							<div>
								<ul class="nav nav-list">
									<li class="divider" />
									<li class="nav-header">Links</li>
									<li><a href="http://apps.wl.k12.in.us/firefight/">Firefight</a></li>
									<li><a href="http://reddev/wlworkOrder/maint/workorders/WO_Add.asp?WorkOrderTypeID=2">Building Work Orders</a></li>
									<li><a data-toggle="collapse" data-target="#harmonies">Harmony</a>
										<ul id="harmonies" class="collapse nav nav-list">
											<li><a href="https://harmony.wl.k12.in.us/ceelementary.nsf/weblogin">Cumberland</a></li>
											<li><a href="https://harmony.wl.k12.in.us/HHelementary.nsf/weblogin">Happy Hollow</a></li>
											<li><a href="https://harmony.wl.k12.in.us/">Jr/Sr High</a></li>
										</ul>
									</li>
									<li><a href="http://moodle.wl.k12.in.us/">Moodle</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr />
			
			<footer class="clearfix">
				<p>Created by Christopher Cooper, Sam Mercier &amp; Kristofer Rye, Class of 2016.</p>
				<p>Maintained by the WLCSC IT Department - <a href="mailto: thompsonb@wl.k12.in.us">Contact Us</a>.</p>
				<p>Source available on <a href="http://github.com/WLCSC/intranet/">GitHub</a>.</p>
				<p><%= @base_url %></p>
				<!-- We need to come up with some cool name or something -->
				<!--<p>&copy; 2013</p>-->
			</footer>
		</div><!--/.fluid-container-->
		<!-- Le javascript
			 ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="<%= url 'js/jquery.js' %>"></script>
		<script src="<%= url 'js/bootstrap.js' %>"></script>
		<script src="<%= url 'js/overrides.js' %>"></script>
		<script src="<%= url 'csv.js' %>"></script>
	</body>
</html>
